#
# .coveragerc to control coverage.py
#

[run]
branch = True
include =
    src/tephi/*
omit =
    setup.py
    docs/*
    tests/*
    .eggs

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
