prune .github
include LICENSE
include *.ipynb
include *.yaml
include *.yml
include .coveragerc
include .flake8
include .git-blame-ignore-revs
include tox.ini
recursive-include requirements *.yml
recursive-include docs *.bat
recursive-include docs *.ico
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.json
recursive-include src *.npz
recursive-include src *.py
recursive-include src *.txt
recursive-include docs Makefile
